<section
  class="vh-100 d-flex justify-content-center align-items-center about"
>
  <div class="forms w-75">
    <form class="container my-5 w-100">
  <div class="mb-4">
    <input type="text" class="form-control custom-input" placeholder="userName">
  </div>
  <div class="mb-4">
    <input type="number" class="form-control custom-input" placeholder="userAge">
  </div>
  <div class="mb-4">
    <input type="email" class="form-control custom-input" placeholder="userEmail">
  </div>
  <div class="mb-4">
    <input type="password" class="form-control custom-input" placeholder="userPassword">
  </div>
  <button class="btn btn-success px-4" type="submit">send Message</button>
</form>


    
  </div>
</section>
