<section
  class="vh-100 d-flex justify-content-center align-items-center about"
  style="background-color: #7adaa5 "
>
  <div class="about-contant text-center text-white container">
    <img src="/public/images/photo.jpg" alt="">

    <h1>ABOUT COMPONENTS</h1>

    <div class="shapes-e d-flex justify-content-center my-4 align-items-center">
      <div style="height: 4px; background-color: white; width: 150px"></div>
      <i class="fa-solid fa-star mx-3" style="color: white; font-size: 20px"></i>
      <div style="height: 4px; background-color: white; width: 150px"></div>
    </div>

    <div class="container text-white">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
        <div class="col-md-4">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
