<section>
<div class="container">
    <div class="row g-4">
        <div class="col-md-4">
            <div class="images">
                <img src="/images/1.jpeg" class="w-100" alt="">
            </div>
           
        </div>
        <div class="col-md-4">
            <div class="images">
                <img src="/images/2.jpeg" class="w-100" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="images">
                <img src="/images/3.jpeg" class="w-100" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="images">
                <img src="/images/1.jpeg" class="w-100" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="images">
                <img src="/images/2.jpeg" class="w-100" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="images">
                <img src="/images/3.jpeg" class="w-100" alt="">
            </div>
        </div>
    </div>
</div>
</section>
