<section>
  <div class="footer container-fluid bg-secondary p-4">
    <div class="row g-4">
      <div class="col-md-4">
        <div class="text-center text-white">
          <h1>LOCATION</h1>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center text-white">
          <h1>ABOUT THE WEB</h1>
          <div class="icons p-3">
            <i class="fa-brands fa-facebook" style="color: white"></i>
            <i class="fa-brands fa-square-twitter" style="color: white"></i>
            <i class="fa-brands fa-linkedin" style="color: white"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center text-white">
          <h1>ABOUT FREELANCE</h1>
          <p>Freelance is a free to use, licensed Bootstrap theme created by Rout</p>
       
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-center text-white p-4 w-100">
    <p>Copyright © Your Website 2021</p>
  </div>
</section>
